altair
streamlit
matplotlib
pandas
joblib
mysql-connector-python
plotly
scikit-learn
seaborn
numpy
packaging
jinja2
jsonschema
toolz
typing-extensions
pympler
pillow
pydeck
click
tornado
requests
